body{
    /* height: 100%; */
    background: darkcyan;
   
}

.portfolio{
    vertical-align: middle;
    text-align: center;
    background-color: black;
    padding: 200px;
    width: 100vw;
    /* height: 200px; */
}

.center{
    text-align: center;
}

section{
padding: 100px;

}

#footer{
    top: 0%;
    bottom: 10px;
    align-content: center;
}

.social{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    }
.aboutText
{
    margin-top: 15em, 0, 0, 0;
    width: 80%;
    color:green;
    float: right;
    position: relative;
}

